<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<style type="text/css">
			body{
				padding: 15px;
			}
		</style>
	</head>

	<body>
		<h2>手机联系人</h2>
		
		
		<ul class="mui-table-view" id="contacts-list">
		   <!-- <li class="mui-table-view-cell">Item 1</li>
		    <li class="mui-table-view-cell">Item 2</li>
		    <li class="mui-table-view-cell">Item 3</li> -->
		</ul>
		
		
		<script src="../js/mui.js"></script>
		<script type="text/javascript">
			mui.init();
			
			let contactsList=document.querySelector('#contacts-list');
			
			mui.plusReady(function () {
				/* 设备 */
				console.log('plus.device',plus.device)
				/* 获取设备信息 */
				plus.device.getInfo({
					success(e){
						console.log('设备信息',e)
					}
				})
				
				let {getAddressBook,ADDRESSBOOK_PHONE}=plus.contacts
				/* 获取通讯录对象 */
				/* plus.contacts.getAddressBook( type, succesCB, errorCB ); type手机通讯录/SIM卡通讯录*/
			   getAddressBook( ADDRESSBOOK_PHONE, (addressbook )=>{
				   console.log('addressbook',addressbook );
				   
				   /* 点击拨打电话的方法=====>要为全局方法，否则报错*/
				   // function dial(number){
					  //  console.log('number',number)
					  //  // plus.device.dial(number,confirm)
				   // } 
				   
				  window.dial= function(number){
					   console.log('number',number)
					   /* 蜂鸣声，5次*/
					   // plus.device.beep(5);
					   /* 震动 2s*/
					   // plus.device.vibrate(2000);
					   /*confirm默认为true,即需要确认才能拨打，false点击后直接拨打出去 */
					   // plus.device.dial(number,false)
					   plus.device.dial(number,confirm)
				   }
				   
				   /* 查找联系人 addressbook.find( contactFields, successCB, errorCB, findOptions )*/
				   addressbook.find( ['displayname','phoneNumbers'], (contacts )=>{
					   console.log('contacts',contacts );
					   contactsList.innerHTML=contacts.map((item)=>{
						   return `<li class="mui-table-view-cell" >
								<strong>${item.displayName}:</strong>
								${
									item.phoneNumbers.map(ele=>{
										<!-- return `<span>${ele.value}</span>` -->
										/* 发送邮件 */
										<!-- return `<a href='mailto:laoxie@1000phone.com'>${ele.value}</a>` -->
										<!-- 拨打电话号码 =》a标签实现，有兼容问题 -->
										<!-- return `<a href='tel:${ele.value}'>${ele.value}</a>` -->
										<!-- 若报错 Uncaught SyntaxError: missing ) after argument list   要在dial里的参数加引号'' -->
										return `<span onclick="dial('${ele.value}')">${ele.value}</span>` 
										
									}).join(',')
								}
						   </li>`
					   }).join('')
				   }, (err)=>{
					   console.log('查找联系人失败err',err)
				   } );
			   }, (err)=>{
				   console.log('err',err)
			   } );
			})
		</script>
	</body>

</html>
