<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<style>
			html,body{width:100%;height:100%;background-color:#fff;}
			body{margin:0;padding:10px;} 
			.goods img{width:100%;}
			.price span{color:#f00;}
			.price span::before{
				content:'￥'
			}
			.price del{margin-right:5px}
			.price del::before{
				content:'￥'
			}
		</style>
	</head>

	<body>
		<div class="goods">
			<img src="img/1.jpg" >
			<h1>年底大促销</h1>
			<p class="price">价格：<del>998.00</del><span>9.80</span></p>
			<button class="mui-btn btnSystemShare">系统分享</button>
			<button class="mui-btn-success btnShare">分享</button>
		</div>
		<script src="../js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
			/* 获取节点 */
			let btnSystemShare=document.querySelector('.btnSystemShare');
			let btnShare=document.querySelector('.btnShare');
			
			mui.plusReady(function () {
				/* 普通的分享 */
			   btnShare.onclick=()=>{
				   plus.share.getServices((services)=>{
					   /* 成功回调  => 获取支持分享的通道，即支持分享到哪里*/
					   console.log('services',services)
					   /* 显示分享菜单 actionSheet*/
					   plus.nativeUI.actionSheet({
						   /* 样式 */
						   title:'分享到'
					   },()=>{
						   /* 成功回调*/
					   })
				   },(err)=>{
					   /* 失败回调*/
					   console.log('err',err)
				   })
			   }
			})
			
		</script>
	</body>

</html>
