<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<style>
			html,body{width:100%;height:100%;background-color:#fff;}
			body{margin:0;padding:10px;} 
			.goods img{width:100%;}
			.price span{color:#f00;}
			.price span::before{
				content:'￥'
			}
			.price del{margin-right:5px}
			.price del::before{
				content:'￥'
			}
		</style>
	</head>

	<body>
		<div class="goods">
			<img src="img/1.jpg" >
			<h1>年底大促销</h1>
			<p class="price">价格：<del>998.00</del><span>9.80</span></p>
			<button class="mui-btn btnSystemShare">系统分享</button>
			<button class="mui-btn-success btnShare">分享</button>
		</div>
		<script src="../js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
			/* 获取节点 */
			let btnSystemShare=document.querySelector('.btnSystemShare');
			let btnShare=document.querySelector('.btnShare');
			
			mui.plusReady(function () {
				
				/* 分享的内容 */
				let msg={
					// type:'images',
					type:'text',
					pictures:['img/1.jpg','img/2.jpg'],
					title:'千峰姐妹花',
					content:'千峰姐妹花2',
					href:'http://www.baidu.com'
				}
				
				/* 普通的分享 */
			   btnShare.onclick=()=>{
				   plus.share.getServices((services)=>{
					   /* 成功回调  => 获取支持分享的通道，即支持分享到哪里*/
					   console.log('services',services)
					   
					   /* 分享的通道*/
					   let buttons=services.map(item=>{
						   return {title:item.description}
					   })
					   
					   /* 显示分享菜单 actionSheet*/
					   plus.nativeUI.actionSheet({
						   /* 样式 配置参数 title\buttons  必须参数*/
						   title:'分享到',
						    cancel:'取消分享',
						/* buttons:[{title:'laoxie'},{title:'jingjing'}], */
							buttons  //	分享的通道  微信、新浪...					  
						   
						   
						   
					   },(e)=>{
						   /* 成功回调 分享出去  actionSheetCallback*/
						   /* e.index  判断点击了哪一个分享*/
						   console.log(e.index)
						   /* 获取分享服务对象*/
						   let idx=e.index
						   if(idx>0){
							   let currentService=services[idx-1]
							   
							   /* 判断当前服务对象是否已认证授权*/
							   if(!currentService.authenticated){
								   /* 未认证  原型上的方法 */
								   currentService.authorize(()=>{
									   /* 成功回调      认证成功，然后分享*/
									   currentService.send(msg,()=>{
										   /* 分享成功*/
									   },()=>{
										   /* 分享失败*/
									   })
								   },()=>{
									   /* 认证失败*/
								   })
							   }else{
								   /* 分享*/
							   }
						   }
					   })
				   },(err)=>{
					   /* 失败回调*/
					   console.log('err',err)
				   })
			   }
			
				/* 系统分享 */
				btnSystemShare.onclick=()=>{
					plus.share.sendWithSystem(msg,()=>{
						/* 分享成功 */
						plus.nativeUI.toast('分享成功')
					},(err)=>{
						plus.nativeUI.alert('分享失败')
					})
				}
			})
			
		</script>
	</body>

</html>
